
<html>
  <body>
    <form action="/tasks" method="Post">
      <input id="submit" type="submit" value="Homepage">
    </form>
  </body>
</html>
<h1>Create a Task for your post</h1>

<form method='POST' action='/tasks'> 
  <br>
  <label for="task">Task</label>
  <input type="text" name="task">
  </br>

  <br>
  <label for="description">Description</label>
  <textarea name="description"></textarea>
  </br>
  
  <br>
  <label for="created_at">Entry Date</label>
  <textarea name="entry_date"></textarea>
  </br>
   
  <br>
  <label for="updated_at">Date completed</label>
  <textarea name="date_completed"></textarea>
  <label for="updated_at">(if not Applicable) *put N/A</label>
  </br>
  
  <br>
  <input type="submit" value="Submit">
  </br>

</form>