<h1>ALL YOUR POSTS!</h1>
<h2>its your task show</h2>

User Number: <%= @user.id %>
</br>
 <br>
User Name: <%= @user.first_name %>
<% @user.tasks.each do |task|%> 
  </br>
Task Name:
         <%= task.name %>
   </br>
Task Description:
        <%= task.description %>
  <br>
<%end%>
 