   

<h1>You dont have any recorded expenses!</h1>



 <h3> <%= @user.first_name %> </h3>

 <!DOCTYPE html>
<html>
  <body>
    <form action="/tasks/new"  method="Get">
      <input id="submit" type="submit" value="Enter">
      <input type="text" name="task"><br>
    </form>
  </body>
</html>
 
"Date:
 "task_completion:
 "name:
 "description:
 "created_at:
 "updated_at:
 
 <!DOCTYPE html>
<html>
  <body>
    <form action="/logout" method="Get">
      <input id="submit" type="submit" value="Logout">
    </form>
  </body>
</html>
